<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="exprodtoolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="exprodtoolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <exprodtoolbox.Properties.Settings>
            <setting name="Databases" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="LastPath" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="DefaultPassword" serializeAs="String">
                <value>371030</value>
            </setting>
            <setting name="DefaultDocs" serializeAs="String">
                <value>Измени меня!</value>
            </setting>
            <setting name="DefaultTemplates" serializeAs="String">
                <value>Измени меня!</value>
            </setting>
            <setting name="DefaultArchives" serializeAs="String">
                <value>c:\{1}{2:d}{0}</value>
            </setting>
            <setting name="DetailedLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FieldsLists" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
        </exprodtoolbox.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <exprodtoolbox.Properties.Settings>
            <setting name="ErrorLogName" serializeAs="String">
                <value>exprodtoolbox.log</value>
            </setting>
        </exprodtoolbox.Properties.Settings>
    </applicationSettings>
</configuration>